/* For Testing */
body {
    background-color: rgb(224, 224, 241);
}

rule-set #1
#number-one{
    font font-style: red;
}

rule-set #2
#number-two{
    font-size: 16px;
}

rule-set #3
.first-class{
    color: green;
}

rule-set #4
.second-class{
    font-size: 16px;
}